.Home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 12%;
  min-height: 80vh !important;
}

.Home ul {
  margin: 0px;
  padding: 0px;
}

.Home li {
  list-style-type: none;
}

.Home-welcome {
  height: 60px;
  margin-bottom: 2px;
}

.Home-recent ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.Home button {
  color: #fff;
  font-size: 16px;
  background: #9dc3e5;
  height: 56px;
  border: 0;
  border-radius: 5px;
  margin-left: 80%;
  margin-bottom: 20px;
  width: 15%;
}

@media screen and (max-width: 600px) {
  .Home {
    margin-top: 20px;
    margin: 0 12%;
  }
  .Home-recent {
    flex-direction: column;
  }

  .Home-welcome {
    margin-bottom: 30px;
  }

  .Home button {
    margin-left: 74%;
    margin-bottom: 20px;
    width: 30%;
  }
}
