.Home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 12%;
  min-height: 100% !important;
}

.Home ul {
  margin: 0px;
  padding: 0px;
}

.Home li {
  list-style-type: none;
}

.Home-welcome {
  height: 60px;
  margin-bottom: 2px;
}

.Home-recent ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

@media screen and (max-width: 600px) {
  .Home {
    margin-top: 20px;
    margin: 0 12%;
  }
  .Home-recent {
    flex-direction: column;
  }

  .Home-welcome {
    margin-bottom: 30px;
  }
}
