.Institution {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  margin: 2% 12%;
  min-height: 80vh;
}

.Institution img {
  width: 350px;
  height: 250px;
}

.info-container {
  display: flex;
  flex-direction: column;
  width: 520px;
  text-align: justify;
}

.address-container {
  position: absolute;
  width: 150px;
  margin-top: 45px;
  margin-left: 370px;
}

.address-container p {
  margin: 0px;
  font-size: 12px;
}

.wishlist {
  display: flex;
  flex-flow: wrap;
  width: 400px;
  margin-top: -443px;
  margin-left: 600px;
}

@media screen and (max-width: 600px) {
  .Institution {
    align-content: center;
    justify-content: center;
    width: 350px;
    margin: auto;
  }

  .info-container {
    flex-flow: column wrap;
    width: auto;
  }

  .address-container {
    width: auto;
    margin: 0;
    position: relative;
    margin-left: 0;
  }

  .wishlist {
    width: 350px;
    margin: 0;
    position: relative;
  }
}
