.SignIn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
    height: 100vh;
}

.SignIn-form{
    width: 500px;
    background: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SignIn-form input{
    display: flex;
    height: 50px;
    margin-bottom: 15px;
    padding: 0 20px;
    color: #777;
    font-size: 15px;
    width: 100%;
    border: 1px solid #ddd;
}

.SignIn-form p {
    color: #ff3333;
    margin-bottom: 15px;
    border: 1px solid #ff3333;
    padding: 10px;
    width: 100%;
    text-align: center;
  }

.SignIn-form button {
    color: #fff;
    font-size: 16px;
    background: #9DC3E5;
    height: 56px;
    border: 0;
    border-radius: 5px;
    width: 100%;
}
  
.SignIn-form hr {
    margin: 20px 0;
    border: none;
    border-bottom: 1px solid #cdcdcd;
    width: 100%;
}

.SignIn-form a {
    font-size: 16;
    font-weight: bold;
    color: #999;
    text-decoration: none;
  }

.SignIn img{
    width: 200px;
    margin: 10px 0 40px;
}

.SignIn  *{
    box-sizing: border-box;
} 

